
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 15px;
    background: #0f0f0f;
}

.header-container #mobile-menu,
.header-container #notification {
    width: 40px;
    cursor: pointer;
}

@media screen and (max-width:751px) {
    .header-container {
        height: 86px;
    }
}

@media screen and (max-width:465px) {
    .header-container {
        height: 60px;
    }
}